
.clearfix:after {
    content: ' ';
    display: table;
    clear: both;
}

*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}

body {
  font-family: sans-serif;
}

nav {
  height: 75px;
}

#nav-btn {
  background: url('images/nav-button.png') no-repeat;
  float: left;
  height: 7em;
  width: 7em;
  background-size: cover;
}

header {
  text-align: center;
  padding: 25px;
}

h1 {
  display: inline;
  font-size: 2.5em;
  margin-bottom: 1em;
}

.first-page {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 1fr 1.5fr .5fr 1.5fr 1fr;
  grid-template-rows: 3fr 1.5fr 1.2fr 1fr 3fr;
  grid-template-areas:
    ". error . . ."
    ". player1 . player2 ."
    ". . . . ."
    ". playgame playgame playgame ."
    ". . . . .";
  background: url('images/background.jpg') center center;
  background-size: cover;
  /* position: absolute; */
}

.error-msg-container {
  grid-area: error;
  display: flex;
  align-items: flex-end;
}

.player-container {
  display: inline;
}

.player1-container {
  grid-area: player1;
}

.player2-container {
  grid-area: player2;
}

.hide-msg {
  display: none;
}

.error-msg {
  font-size: 1em;
}

.play-game-btn {
  grid-area: playgame;
  height: 50px;
  background-color: #000;
  color: #fff;
  font-size: 1.25em;
  margin-top: 3em;
}

.input-name {
  width: 100%;
  height: 40px;
  font-size: 1.5em;
  margin: 2% 0;
}

p {
  font-size: 1.5em;
}

/* SECOND SCREEN */

.rule-page {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 3fr 1.5fr 1.2fr 1fr 3fr;
  grid-template-areas:
    " . text . ";
  background: url('images/background.jpg') center center;
  background-size: cover;
  position: absolute;
}

.rules-text {
  margin-top: 15%;
  grid-area: text;
  width: 100%;
}

.play-game-btn {
  height: 50px;
  background-color: #000;
  color: #fff;
  font-size: 1.25em;
  margin-top: 3em;
  width: 100%;
}

/* THIRD SCREEN */
.card-page {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-areas:
    "leftcolumn cards rightcolumn";
  grid-template-columns: 1fr 3fr 1fr;
  color: #fff;
  font-size: .8em;
}

#card-container {
  grid-area: cards;
  background-color: #F2F2F2;
}

.player-column {
  background-color: #000;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.aside-first-box,
  .aside-second-box,
  .aside-third-box {
    margin: 5%;
  }

.third-page-text {
  margin: 2.5%;
  font-weight: lighter;
}

.third-page-number {
  font-size: 5em;
  margin-top: 3%;
}

.game-wins{
  margin-bottom: 10%;
}


.line {
  border: 1px solid #fff;
  margin: 2%;
  width: 96%;
}

#left-player-column {
  grid-area: leftcolumn;
}

#right-player-column {
  grid-area: rightcolumn;
}

.card-img {
  height: 40%;
  width: 20%;
  border: 2px solid #000;
  transition: transform 0.8s;
}

.card-flip {
  transform: rotateY(360deg);
}

.card-row {
  display: flex;
  justify-content: space-around;
  padding: 3%;
}



/* FOURTH SCREEN */
.congrats-page {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 1fr 1.5fr .5fr 1.5fr 1fr;
  grid-template-rows: 1fr .5fr .5fr 1fr 1fr;
  grid-template-areas:
    ". . . . ."
    ". congrats congrats congrats ."
    ". time time time ."
    ". keep-playing keep-playing keep-playing ."
    ". new-game . rematch .";
  background: url('images/background.jpg') center center;
  background-size: cover;
  position: absolute;
}

.congratulations {
  grid-area: congrats;
  font-size: 3em;
  color: #000;
  text-align: center;
}

.time-of-game {
  grid-area: time;
  text-align: center;
  font-weight: bold;
}

.keep-playing-msg {
  grid-area: keep-playing;
  text-align: center;
}

.new-game-btn {
  grid-area: new-game;
}

.rematch-btn {
  grid-area: rematch;
}



.hide {
  display: none;
}
